

.MainDivC{
    width: 100vw;
    height: auto;
    color:black;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    padding: 20vh 3vw 2vh 3vw;
}
.MainDivC h1{
    margin: 1vh;
}

.containerC{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.firstDivC{
    width: 45vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 2vw;
}

.firstDivC h1{
    text-align: center;
}

.firstDivC img{
    width: 100%;
    height: auto;
}

.firstDivC1050{
    width: 80vw;
}

.formC{
    width: 45vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    position: relative;
    flex-direction: column;
    padding: 4%;
    margin-bottom: 2vh;
}

.formC1050{
    width: 90vw;
}

.formC > *{
    width: 100%;
    height: 9vh;
    margin-top: 1vh;
    border-radius: 2vh;
    padding-left: 2%;
    background-color: #e7dfdf77;
    border:1px solid #aca9a977;
}


.Error{
    color:red;
    height: auto;
    margin: 0;
    border: 0px;
    background-color: white;
    position: relative;
    bottom: 1vh;
}

input[type='checkbox']{
    transform: scale(1.5);
    height: auto;
}

input[type='checkbox']:checked{
    accent-color:gold;
}


.ButoonCons{
    height:70%;
    border-radius:10px;
    background-color:gold;
    padding:1% 3% 1% 3%;
    border: 2px solid gold;
    transition: 0.5s;
}




























.formC div{
    padding: 0; 
}

.A:link, .A:visited {
    color: blue; /* Цвет текста ссылки */
    text-decoration:solid; /* Убирает подчёркивание под текстом */
}

